<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Branches</title>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-branches">
    <div class="container">
      <a class="navbar-brand" href="#">Branches</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 searchBranches" type="search" placeholder="Search Branches" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0 searchBranchesBTN" type="submit">Leaf</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container content">
    <div class="row">
      <div class="col-sm-12">
        {{{body}}}
      </div>
    </div>
  </div>

  <footer class="footer bg-dark fixed-bottom">
    <div class="container text-center text-md-left">
      <div class="footer-copyright text-center mt-1">
        <a href="/api/leaves">API Leaves List</a>
        | <a href="https://github.com/et-nat1995/Project-2">GitHub</a>
        <span class="muted-text">Copyright, Team Branches, 2018 ©</span>
      </div>
    </div>
  </footer>


</body>

<script src="/static/js/main.js"></script>

</html>