<link rel="stylesheet" href="/static/styles/login.css">
<script src="/static/js/login.js"></script>

<div class="login-form">
    <div class="main-div">
        <div class="panel">
            <h2>Login to Branches</h2>
            <p>Please enter your email and password</p>
        </div>
        <form id="login-form">
            <div class="form-group">
                <input type="email" class="form-control" id="email-input" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div class="forgot">
                <a href="/reset">Forgot password?</a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="forgot">
                <a href="/signup">Sign Up</a>
            </div>
        </form>
    </div>
</div>