@import url('https://fonts.googleapis.com/css?family=Acme|Merienda:400,700');

body {
  background-image:url("../images/Wallpaper-Dark-Green-Leave-Macro.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:top;
  padding:10px;
  font-family: 'Acme', sans-serif;
}

.navbar {
  background-color: rgba(11, 163, 28, 0.815) !important;
  padding: 0;
}

.navbar-brand {
  font-family: "Merienda", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  padding: 0;
  padding-right: .5rem;
}

.nav-item{
  font-weight: bold;
  color: black;
}

.cards{
  border: 4px solid;
  color:black;
}
#leaves-input{
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}
#saplings-input{
    font-size: x-small;
    margin: 0px;
    padding: -10px;
}
#stems-input{
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}
.card-img-top{
  width: 70px;
  height: 70px;
  border: black solid;
  background-color: lightgrey;
}


.btn-light{
  background-color: #e9ecef;
  border: solid #cad3db 1px;
}

.footer {
  height: 2rem;
  color: white;
  font-size: small;
  background-color: rgba(11, 163, 28, 0.815) !important;
}

.footer .muted-text {
  font-size: x-small;
  margin-left: 1rem;
}

.footer a,
.footer a:visited {
  color: white;
}

#signup-page .input-group-text {
  width: 8rem;
  text-align: right; 
  display: block;
}

.leaves {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 90%;
}